@model IEnumerable<BLL.Abstract.WcBase>
@{
	string Entity = ViewData["Entity"].ToString();
}

@foreach (var item in Model)
{
	<tr>
		<td>
			@Html.DisplayFor(modelItem => item.Entry)
		</td>
		<td>
			@Html.DisplayFor(modelItem => item.EntryZht)
		</td>
		<td>
			@Html.DisplayFor(modelItem => item.EntryZhs)
		</td>
		<td>
			@Html.DisplayFor(modelItem => item.EntryJap)
		</td>
		<td>
			@Html.ActionLink("Edit", "Edit", Entity, new { id = item.Id}, null)

			@if (item.CanDel != null && item.CanDel.Value)
				{
				@Html.Raw(" | ") @Html.ActionLink("Delete", "Delete",Entity, new { id = item.Id }, new { id = item.Id, returnUrl = Request.Url, onclick = string.Format("return confirm('{0}');", Resources.ConfirmDelete) })
				}
		</td>
	</tr>
}
