@using UI.Helpers
@{
	string navClass = "nav ww-nav pull-right hidden-phone";
	string greetings = null;
	if (Request.IsAuthenticated)
	{
		navClass = "nav ww-nav-admin pull-right hidden-phone";
		greetings = CookieHelper.GetCookieValue("Greetings");
	}
}
@if (Request.IsAuthenticated)
{
	using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
	{
		@Html.AntiForgeryToken()

		<ul class="@navClass" style="padding-top:0;">
			<li><a href="javascript:document.getElementById('logoutForm').submit()">@Resources.LogOff</a></li>
		</ul>
	}
	<span class="text-small">@greetings</span>
}
else
{
	<ul class="@navClass" style="padding-top:0;">
		<li>
			@if (Request.Url != null)
			{
				@Html.ActionLink(Resources.LogOn, "Login", "Account", null, new { id = "loginLink", returnUrl = Request.Url.PathAndQuery })
			}
	</li>
</ul>
}
