@using BLL.Helpers
@model UI.Models.WcSearchViewModel
@{
	string culture = CultureHelper.GetCurrentCulture();
	string textClass = null;
	
	switch (culture)
	{
		case "zh-hans":
		case "zh-hant":
			textClass = "font-size:small;";
			break;
		case "ja-jp":
			textClass = "font-size:x-small;";
			break;
	}
}  

@*<link href="~/css/progress.min.css" rel="stylesheet" />*@
<div class="span3">
	
	<form action="javascript:void(0);" id="search-form">
		<div class="form-group">
			<label for="Word">@Resources.SearchWordText</label>
			@Html.TextBoxFor(m => m.Word)
		</div>
		<div class="form-group">
			<label for="ColPosId">@Resources.SearchColPosText</label>
			@Html.DropDownList("ColPosId", Model.ColPosDropDownList, new { @class = "text fLeft" })
		</div>
		<div class="form-group">
			<button type="submit" id="btnSearch" name="btnSearch">@Resources.Search</button>
		</div>
		<input type="hidden" id="wordRequired" value="@Resources.WordRequired" />
		<input type="hidden" id="colPosRequired" value="@Resources.ColPosRequired" />
	</form>
	
	<div id="progress" style="text-align:center;padding:.5em 0 0 0;margin:0;min-height: 0 !important;">
		<img id="preloader" alt="preloader" src="/img/preloader.gif"/>
		<p id="pro-p" style="@textClass">@Resources.Processing</p>
	</div>

@{
	//Html.AddJavaScript("/js/searchbox_submit.min.js");
}	
</div>
