@model UI.Models.WcLoginViewModel

@{
	ViewBag.Title = Resources.ForgetPassword;
}
<div class="span4">
	<h2>@ViewBag.Title</h2>
	<section id="forgetForm">
		@using(Html.BeginForm("ForgetPassword", "WcAccount", FormMethod.Post, new { @id = "forget-form" }))
		{

		@Html.AntiForgeryToken()

		@Html.ValidationSummary(false)

		<div class="form-group">
			@Html.LabelFor(m=>m.UserNameEmail)
			@Html.TextBoxFor(m => m.UserNameEmail, new { placeholder = Resources.UserNameEmailForLogin,@autocomplete="off" })
		</div>
		
		<div class="form-group">
			<button type="submit">@Resources.Send</button>
		</div>
		}
	</section>
</div>

@section Scripts {
	@Scripts.Render("~/bundles/jqueryval")
}
