@model UI.Models.ContactViewModel

@{
	ViewBag.Title = Resources.Contact;
}
<div class="offset1 span6">
	<h1>@Resources.IhaveOpinion</h1>

	<p class="lead">@Resources.OpinionParagraph</p>

	@if (!string.IsNullOrEmpty(ViewBag.MessageOK))
	{
		<h4>@ViewBag.MessageOK</h4>
	}
	
	<h3>@Resources.YourOpinion</h3>

		@using (Html.BeginForm("Index", "Contact", FormMethod.Post, new { @class = "contact-form" }))
		{
			@Html.AntiForgeryToken()

			@Html.ValidationSummary(false)

			
				<div class="form-group">
					@Html.LabelFor(model => model.Name)
					@Html.TextBoxFor(model => model.Name, new{@id="Name",@class="text"})
				</div>

				<div class="form-group">
					@Html.LabelFor(model => model.Email)
					@Html.TextBoxFor(model => model.Email, new { @id="Email",@class = "text" })
				</div>
			

			<div class="form-group">
				@Html.LabelFor(model => model.MessageText)
				@Html.TextAreaFor(model => model.MessageText, new { @id="message-text", @rows = "10", @cols="30", style="box-sizing: content-box;"})
			</div>

			<button type="submit">@Resources.Send</button>

		}
	</div>

@section Scripts {
	@Scripts.Render("~/bundles/jqueryval")
}